# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

jvm/ @sugarmanz @Brocollie08
android/ @sugarmanz @Brocollie08
language/ @KetanReddy

# iOS
xcode/ @hborawski
ios/ @hborawski

# Web
react/ @spentacular @adierkens
tools/storybook/ @adierkens

# Core
core/ @KetanReddy @adierkens

# Language
language/ @KetanReddy @adierkens
