test --test_output=errors
coverage --combined_report=lcov

# C++ Specific Configs
common --cxxopt=-std=c++17

# Java Specific Configs
common --java_language_version=17
common --tool_java_language_version=17
common --tool_java_language_version=17
common --tool_java_runtime_version=17

# Javascript Specific Configs
common --@aspect_rules_ts//ts:skipLibCheck=always

# Android demo app flags
common --android_platforms=@rules_android//:x86,@rules_android//:x86_64,@rules_android//:armeabi-v7a,@rules_android//:arm64-v8a
mobile-install --mobile_install_aspect=@rules_android//mobile_install:mi.bzl --mobile_install_supported_rules=android_binary

# iOS Flags
common --ios_simulator_device="iPhone 16 Pro"
common --ios_simulator_version="18.5"

# Cache Flags
common --action_cache_store_output_metadata --experimental_remote_cache_compression_threshold=100

build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://remote.buildbuddy.io
build --remote_cache=grpcs://remote.buildbuddy.io
build --remote_cache_compression
build --remote_cache_async
build --remote_download_toplevel
build --remote_timeout=60
build --build_metadata=REPO_URL=https://github.com/player-ui/player.git

test --bes_results_url=https://app.buildbuddy.io/invocation/
test --bes_backend=grpcs://remote.buildbuddy.io
test --remote_cache=grpcs://remote.buildbuddy.io
test --remote_cache_compression
test --remote_cache_async
test --remote_download_toplevel
test --remote_timeout=3600
test --build_metadata=REPO_URL=https://github.com/player-ui/player.git

coverage --bes_results_url=https://app.buildbuddy.io/invocation/
coverage --bes_backend=grpcs://remote.buildbuddy.io
coverage --remote_cache=grpcs://remote.buildbuddy.io
coverage --remote_cache_compression
coverage --remote_cache_async
coverage --remote_download_toplevel
coverage --remote_timeout=3600
coverage --build_metadata=REPO_URL=https://github.com/player-ui/player.git

# Base ci config for all executors. Other ci configs should inherit from this and add resource limitations.
common:ci-base --build_metadata=ROLE=CI
common:ci-base --remote_build_event_upload=minimal 
common:ci-base --nolegacy_important_outputs
# Only show progress every 60 seconds on CI.
# We want to find a compromise between printing often enough to show that the build isn't stuck,
# but not so often that we produce a long log file that requires a lot of scrolling.
# https://bazel.build/reference/command-line-reference#flag--show_progress_rate_limit
common:ci-base --show_progress_rate_limit=60

# Circle xlarge has 8 CPU cores/16GB mem
common:ci --config=ci-base --local_resources=cpu=8 --local_resources=memory=15000

# Circle m4pro.medium 6 cores 28gb ram (?)
common:ci-mac --config=ci-base --local_resources=cpu=4 --local_resources=memory=26000

# For bench tests we are using a large resource_class which has 4 cpu cores and 8GB RAM
common:ci-benchmark --config=ci-base --local_resources=cpu=4 --local_resources=memory=8000

# Release Config
common:release --config=ci --stamp --workspace_status_command=./scripts/workspace-status.sh
build:release --//:cmake_build_type=MinSizeRel

# Cache action outputs on disk so they persist across output_base and bazel shutdown (eg. changing branches)
# build --disk_cache=~/.cache/bazel-disk-cache

# Support for debugging NodeJS tests
# Add the Bazel option `--config=debug` to enable this
test:debug --test_output=streamed --test_strategy=exclusive --test_timeout=9999 --nocache_test_results --define=VERBOSE_LOGS=1
# Use bazel run with `--config=debug` to turn on the NodeJS inspector agent.
# The node process will break before user code starts and wait for the debugger to connect.
run:debug --define=VERBOSE_LOGS=1 -- --node_options=--inspect-brk
# The following option will change the build output of certain rules such as terser and may not be desirable in all cases
build:debug --compilation_mode=dbg

try-import %workspace%/.bazelrc.local
