version: 2.1

parameters:
  GHA_Action:
    type: string
    default: ""
  should_release:
    type: boolean
    default: false

orbs:
  macos: circleci/macos@2
  android: circleci/android@2.0
  codecov: codecov/codecov@3.2.2

executors:
  base:
    docker:
      - image: docker.io/playerui/bazel-docker:7
    working_directory: ~/player
    resource_class: xlarge
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"
  ios:
    working_directory: ~/player
    resource_class: macos.m1.medium.gen1
    macos:
      xcode: 14.3
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"
  android:
    machine:
      image: android:2024.04.1
    working_directory: ~/player
    resource_class: large
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"

commands:
  auto_shipit:
    description: Perform Auto shipit
    steps:
      - attach_workspace:
          at: ~/player

      - macos/install-rosetta

      - restore_cache:
          keys:
            - v1-bazel-cache-core-{{ .Branch }}-{{ .Revision }}
            - v1-bazel-cache-core-{{ .Branch }}
            - v1-bazel-cache-core-main
            - gem-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - gem-v1-{{ arch }}-main-{{ checksum "Gemfile.lock" }}

      - run: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: |
            echo -e $GPG_KEY | gpg --import --batch
            echo -e "pinentry-mode loopback\npassphrase $DEPLOY_MAVEN_GPG_PASSPHRASE" > ~/.gnupg/gpg.conf
      - run: |
            source ~/.bashrc
            bundle install
            npx auto shipit --only-graduate-with-release-label -vv

jobs:
  setup:
    executor: base
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{ { checksum "package.json" }}

      - persist_to_workspace:
          root: .
          paths:
            - .

  bazelrc:
    executor: base
    steps:
      - attach_workspace:
          at: ~/player
      - run: |
          echo "build --remote_header=x-buildbuddy-api-key=${BUILDBUDDY_API_KEY}" >> .bazelrc.local
          echo "test --remote_header=x-buildbuddy-api-key=${BUILDBUDDY_API_KEY}" >> .bazelrc.local
          echo "coverage --remote_header=x-buildbuddy-api-key=${BUILDBUDDY_API_KEY}" >> .bazelrc.local
      - persist_to_workspace:
          root: .
          paths:
            - .

  build:
    executor: base
    steps:
      - attach_workspace:
          at: ~/player

      - run: bazel build --config=ci --config=skip-ios -- //...

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{ { checksum "package.json" }}

      - persist_to_workspace:
          root: .
          paths:
            - .

  build_ios:
    executor: ios
    steps:
      - attach_workspace:
          at: ~/player

      - run:
          name: Homebrew Dependencies
          command: |
            echo "A" | softwareupdate --install-rosetta
      - run: 
          shell: env /usr/bin/arch -x86_64 /bin/bash --login -eo pipefail
          command: |
            /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      - run:
          command: |
            HOMEBREW_NO_AUTO_UPDATE=1 arch -x86_64 /usr/local/bin/brew install bazelisk maven openjdk@8
      - run:
          name: Set Ruby Version
          command: |
            rbenv global 2.7.8
            rbenv rehash

      - restore_cache:
          keys:
            - android-tools-{{ arch }}-{{ checksum "scripts/install-android-tools.sh" }}

      - run: echo 'export ANDROID_HOME=~/android-tools'  >> $BASH_ENV

      - run:
          name: Install Android tools
          command: |
            sh scripts/install-android-tools.sh
            echo 'export ANDROID_SDK_HOME=$ANDROID_HOME'  >> $BASH_ENV
            echo 'export ANDROID_NDK_HOME=$ANDROID_SDK_HOME/ndk/21.4.7075529'  >> $BASH_ENV
            echo 'export PATH=$ANDROID_SDK_HOME/tools/bin:$PATH'  >> $BASH_ENV
            echo 'export PATH=$ANDROID_SDK_HOME/tools:$PATH'  >> $BASH_ENV
            echo 'export PATH=$ANDROID_SDK_HOME/platform-tools:$PATH'  >> $BASH_ENV
            echo 'export PATH=$ANDROID_SDK_HOME/emulator:$PATH'  >> $BASH_ENV
            source $BASH_ENV
          environment:
            JAVA_HOME: /usr/local/opt/openjdk@8

      - save_cache:
          key: android-tools-{{ arch }}-{{ checksum "scripts/install-android-tools.sh" }}
          paths:
            - ~/android-tools

      - run: gem install bundler -v 2.4.22

      - restore_cache:
          keys:
            - gem-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - gem-v1-{{ arch }}-main-{{ checksum "Gemfile.lock" }}

      - run:
          command: |
             bundle config build.nokogiri --use-system-libraries
             bundle install

      - save_cache:
          key: gem-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - ~/.gem/ruby/2.7.8

      - macos/preboot-simulator:
          version: "15.5"
          platform: "iOS"
          device: "iPhone 13"

      - run: 
          command: bazel sync

      - run: |
          BUNDLE_TARGETS=$(bazel query "attr(name, '^.*_Bundles$', //...)" --output label 2>/dev/null | tr '\n' ' ')
          bazel build --config=ci $BUNDLE_TARGETS

      - run: bazel shutdown
      - run: 
          command: cd xcode && bundle exec pod install
      - run: 
          command: bazel build --config=ci -- //:PlayerUI //:PlayerUI-Demo //:PlayerUI_Pod
      # TODO: the timeout should be added to the test itself
      - run: 
          command: bazel test --test_timeout=1200 --jobs=1 --verbose_failures --config=ci  -- //:PlayerUI-Unit-Unit //:PlayerUI-UI-ViewInspectorTests //:PlayerUI-UI-XCUITests

      - run:
          when: always
          command: |
            RESULTS_DIR=_test_results
            find -L ./bazel-testlogs -name test.xml | while read line
            do
              mkdir -p $RESULTS_DIR/$(dirname $line)
              cp $line $RESULTS_DIR/$(dirname $line)
            done

      - store_test_results:
          path: _test_results

  test:
    executor: base
    steps:
      - attach_workspace:
          at: ~/player
      - run: bazel test --config=skip-ios --config=ci -- //... -//docs/site -//android/demo:android_instrumentation_test

      - run:
          when: always
          command: |
            RESULTS_DIR=_test_results
            find -L ./bazel-testlogs -name test.xml | while read line
            do
              mkdir -p $RESULTS_DIR/$(dirname $line)
              cp $line $RESULTS_DIR/$(dirname $line)
            done

      - store_test_results:
          path: _test_results

  android_test:
    executor: android
    steps:
      - checkout

      - attach_workspace:
          at: ~/player

      - run:
          command: |
            JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-amd64 \
              $ANDROID_HOME/tools/bin/sdkmanager "\
              "ndk;21.4.7075529" 
            echo "export ANDROID_NDK_HOME=$ANDROID_HOME/ndk/21.4.7075529" >> $BASH_ENV
            source $BASH_ENV
            echo $ANDROID_NDK_HOME
      
      - run:
          name: Install Bazel
          command: |
            wget -q https://github.com/bazelbuild/bazelisk/releases/download/v1.11.0/bazelisk-linux-amd64 -O bazelisk && \
            chmod +x bazelisk && \
            sudo mkdir /opt/bazelisk-v1.11.0 && \
            sudo mv bazelisk /opt/bazelisk-v1.11.0 && \
            sudo ln -s /opt/bazelisk-v1.11.0/bazelisk /usr/local/bin/bazel

      - run:
          name: Create avd
          command: |
            sdkmanager "system-images;android-29;default;x86"
            echo "no" | avdmanager --verbose create avd -n test -k "system-images;android-29;default;x86"

      - run:
          name: Launch emulator
          command: |
            emulator -avd test -delay-adb -verbose -gpu swiftshader_indirect -no-snapshot -noaudio -no-boot-anim
          background: true

      - run:
          name: Wait for emulator to start
          command: |
            circle-android wait-for-boot

      - run: bazel test --config=ci -- //android/demo:android_instrumentation_test

      - run:
          when: always
          command: |
            RESULTS_DIR=_test_results
            find -L ./bazel-testlogs -name test.xml | while read line
            do
              mkdir -p $RESULTS_DIR/$(dirname $line)
              cp $line $RESULTS_DIR/$(dirname $line)
            done

      - store_test_results:
          path: _test_results

      - store_artifacts:
          path: screenshots

  coverage:
    executor: base
    steps:
      - attach_workspace:
          at: ~/player

      - restore_cache:
          keys:
            - v1-bazel-cache-core-{{ .Branch }}-{{ .Revision }}
            - v1-bazel-cache-core-{{ .Branch }}
            - v1-bazel-cache-core-main

      - run: |
          BUNDLE_TARGETS=$(bazel query "kind(nodejs_test, //...)" --output label 2>/dev/null | tr '\n' ' ')
          bazel coverage --config=ci -- $BUNDLE_TARGETS

      - codecov/upload:
          file: ./bazel-out/_coverage/_coverage_report.dat

  maybe_release:
    executor: base
    steps:
      - run: echo "Should I release? (<< pipeline.parameters.should_release >>)"
      - when:
          condition: << pipeline.parameters.should_release >>
          steps:
            - auto_shipit

  release:
    executor: base
    steps:
      - auto_shipit

workflows:
  build_and_test_pr:
    jobs:
      - setup:
          filters:
            branches:
              ignore:
                - main
                - /version-.*/
            tags:
              ignore: /.*/
      - bazelrc:
          filters:
            branches:
              ignore:
                - /pull\/.*/
          context:
            - Build
          requires:
            - setup

      - build:
          name: build-trunk
          filters:
            branches:
              ignore:
                - /pull\/.*/
          requires:
            - bazelrc

      - build:
          name: build-fork
          filters:
            branches:
              only:
                - /pull\/.*/
          requires:
            - setup

      - build_ios:
          name: build-ios-trunk
          filters:
            branches:
              ignore:
                - /pull\/.*/
          requires:
            - bazelrc

      - build_ios:
          name: build-ios-fork
          filters:
            branches:
              only:
                - /pull\/.*/
          requires:
            - setup

      - maybe_release:
          filters:
            branches:
              ignore:
                - /pull\/.*/
          context:
            - Publish
          requires:
            - build-trunk
            - build-ios-trunk

      - test:
          name: test-trunk
          filters:
            branches:
              ignore:
                - /pull\/.*/
          requires:
            - build-trunk

      - test:
          name: test-fork
          filters:
            branches:
              only:
                - /pull\/.*/
          requires:
            - build-fork

      - android_test:
          name: android-test-trunk
          filters:
            branches:
              ignore:
                - /pull\/.*/
          requires:
            - build-trunk

      - android_test:
          name: android-test-fork
          filters:
            branches:
              only:
                - /pull\/.*/
          requires:
            - build-fork

      - coverage:
          name: coverage-trunk
          filters:
            branches:
              ignore:
                - /pull\/.*/
          requires:
            - build-trunk

      - coverage:
          name: coverage-fork
          filters:
            branches:
              only:
                - /pull\/.*/
          requires:
            - build-fork

  build_and_test_main:
    when:
      equal: [ "", << pipeline.parameters.GHA_Action >> ]
    jobs:
      - setup:
          filters:
            branches:
              only:
                - main
                - /version-.*/

      - build:
          requires:
            - setup

      - build_ios:
          requires:
            - setup

      - test:
          requires:
            - build

      - android_test:
          requires:
            - build

      - coverage:
          requires:
            - build

      - release:
          context:
            - Publish
          requires:
            - android_test
            - test
            - coverage
            - build_ios

  release:
    when:
      equal: [ release, << pipeline.parameters.GHA_Action >> ]
    jobs:
      - setup

      - build:
          requires:
            - setup

      - build_ios:
          requires:
            - setup

      - test:
          requires:
            - build

      - android_test:
          requires:
            - build

      - coverage:
          requires:
            - build

      - release:
          context:
            - Publish
          requires:
            - android_test
            - test
            - coverage
            - build_ios
