version: 2.1

parameters:
  GHA_Action:
    type: string
    default: ""
  should_release:
    type: boolean
    default: false

orbs:
  macos: circleci/macos@2
  android: circleci/android@2.0
  codecov: codecov/codecov@3.3.0

executors:
  base:
    docker:
      - image: docker.io/playerui/bazel-docker:7
    working_directory: ~/player
    resource_class: xlarge
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"
  ios:
    working_directory: ~/player
    resource_class: macos.m1.large.gen1
    macos:
      xcode: 15.3.0
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"
  android:
    machine:
      image: android:202102-01
    working_directory: ~/player
    resource_class: large
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"

commands:
  auto_shipit:
    description: Perform Auto shipit
    steps:
      - attach_workspace:
          at: ~/player

      - restore_cache:
          keys:
            - v1-bazel-cache-core-{{ .Branch }}-{{ .Revision }}
            - v1-bazel-cache-core-{{ .Branch }}
            - v1-bazel-cache-core-main
            - gem-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - gem-v1-{{ arch }}-main-{{ checksum "Gemfile.lock" }}

      - run: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: |
            echo -e $GPG_KEY | gpg --import --batch
            echo -e "pinentry-mode loopback\npassphrase $DEPLOY_MAVEN_GPG_PASSPHRASE" > ~/.gnupg/gpg.conf
      - run: |
            source ~/.bashrc
            bundle install
            npx auto shipit --only-graduate-with-release-label -vv

jobs:
  setup:
    executor: base
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{ { checksum "package.json" }}

      - persist_to_workspace:
          root: .
          paths:
            - .

  bazelrc:
    executor: base
    steps:
      - attach_workspace:
          at: ~/player
      - run: |
          echo "build --remote_header=x-buildbuddy-api-key=${BUILDBUDDY_API_KEY}" >> .bazelrc.local
          echo "test --remote_header=x-buildbuddy-api-key=${BUILDBUDDY_API_KEY}" >> .bazelrc.local
          echo "coverage --remote_header=x-buildbuddy-api-key=${BUILDBUDDY_API_KEY}" >> .bazelrc.local
      - persist_to_workspace:
          root: .
          paths:
            - .

  build:
    executor: base
    steps:
      - attach_workspace:
          at: ~/player
      # need to filter because //android/demo rules dont resolve
      - run: bazel build --config=ci -- $(bazel query '//plugins/... except filter("ios|swiftui|jvm|android", //plugins/...)') $(bazel query '//core/... except filter("ios|swiftui|jvm|android", //core/...)') $(bazel query '//react/... except filter("ios|swiftui|jvm|android", //react/...)')

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{ { checksum "package.json" }}

      - persist_to_workspace:
          root: .
          paths:
            - .

  build_ios:
    executor: ios
    steps:
      - attach_workspace:
          at: ~/player

      - run:
          name: Homebrew Dependencies
          command: |
            HOMEBREW_NO_AUTO_UPDATE=1 brew install bazelisk lcov

      - macos/preboot-simulator:
          version: "17.4"
          platform: "iOS"
          device: "iPhone 15"

      - run: bazel build --config=ci -- //ios/demo:PlayerUIDemo

      - run:
          name: Test Prebuild
          command: |
            bazel build \
              --config=ci \
              $(bazel query "kind(ios_unit_test, //ios/...)") \
              $(bazel query "kind(ios_unit_test, //plugins/...)") \
              $(bazel query "kind(ios_ui_test, //ios/...)") \
              $(bazel query "kind(ios_ui_test, //plugins/...)")
      - run:
          name: Tests
          command: |
            bazel coverage \
              --config=ci \
              --jobs=2 \
              --experimental_use_llvm_covmap \
              --combined_report=lcov \
              --test_output=all \
              --test_timeout=1800 \
              $(bazel query "kind(ios_unit_test, //ios/...)") \
              $(bazel query "kind(ios_unit_test, //plugins/...)") \
              $(bazel query "kind(ios_ui_test, //ios/...)") \
              $(bazel query "kind(ios_ui_test, //plugins/...)")

      - run:
          when: always
          command: |
            RESULTS_DIR=_test_results
            find -L ./bazel-testlogs -name test.xml | while read line
            do
              mkdir -p $RESULTS_DIR/$(dirname $line)
              cp $line $RESULTS_DIR/$(dirname $line)
            done
      - run:
          when: always
          command: |
            mkdir -p _ios_coverage/lcov
            mkdir -p _ios_coverage/html
            cp -r $(bazel info output_path)/_coverage/_coverage_report.dat _ios_coverage/lcov/
            genhtml --branch-coverage --output-directory=_ios_coverage/html/ "$(bazel info output_path)/_coverage/_coverage_report.dat"
            zip -r _ios_coverage/html.zip _ios_coverage/html/
            rm -r _ios_coverage/html/
      
      - persist_to_workspace:
          root: .
          paths:
            - _ios_coverage

      - store_test_results:
          path: _test_results

  android_test:
    executor: android
    steps:
      - checkout

      - attach_workspace:
          at: ~/player

      - run:
          name: Install Bazel
          command: |
            wget -q https://github.com/bazelbuild/bazelisk/releases/download/v1.11.0/bazelisk-linux-amd64 -O bazelisk && \
            chmod +x bazelisk && \
            sudo mkdir /opt/bazelisk-v1.11.0 && \
            sudo mv bazelisk /opt/bazelisk-v1.11.0 && \
            sudo ln -s /opt/bazelisk-v1.11.0/bazelisk /usr/local/bin/bazel

      - run:
          name: Create avd
          command: |
            sdkmanager "system-images;android-29;default;x86"
            echo "no" | avdmanager --verbose create avd -n test -k "system-images;android-29;default;x86"

      - run:
          name: Launch emulator
          command: |
            emulator -avd test -delay-adb -verbose -gpu swiftshader_indirect -no-snapshot -noaudio -no-boot-anim
          background: true

      - run:
          name: Wait for emulator to start
          command: |
            circle-android wait-for-boot

      - run: bazel test --config=ci -- //android/demo:android_instrumentation_test

      - run:
          when: always
          command: |
            RESULTS_DIR=_test_results
            find -L ./bazel-testlogs -name test.xml | while read line
            do
              mkdir -p $RESULTS_DIR/$(dirname $line)
              cp $line $RESULTS_DIR/$(dirname $line)
            done

      - store_test_results:
          path: _test_results

      - store_artifacts:
          path: screenshots

  coverage:
    executor: base
    steps:
      - attach_workspace:
          at: ~/player

      - restore_cache:
          keys:
            - v1-bazel-cache-core-{{ .Branch }}-{{ .Revision }}
            - v1-bazel-cache-core-{{ .Branch }}
            - v1-bazel-cache-core-main

      # union the bundle targets until //... doesnt explode analyzing jvm/android targets
      - run: |
          BUNDLE_TARGETS=$(bazel query "kind(js_test, //plugins/...) union kind(js_test, //react/...) union kind(js_test, //core/...)" --output label 2>/dev/null | tr '\n' ' ')
          bazel coverage --combined_report=lcov --config=ci -- $BUNDLE_TARGETS -//plugins/reference-assets/mocks:all_flows_test_binary 

      - run:
          when: always
          command: |
            RESULTS_DIR=_test_results
            find -L ./bazel-testlogs -name test.xml | while read line
            do
              mkdir -p $RESULTS_DIR/$(dirname $line)
              cp $line $RESULTS_DIR/$(dirname $line)
            done

      - store_test_results:
          path: _test_results

      - codecov/upload:
          file: ./bazel-out/_coverage/_coverage_report.dat

      - codecov/upload:
          file: _ios_coverage/lcov/_coverage_report.dat

  maybe_release:
    executor: base
    steps:
      - run: echo "Should I release? (<< pipeline.parameters.should_release >>)"
      - when:
          condition: << pipeline.parameters.should_release >>
          steps:
            - auto_shipit

  release:
    executor: base
    steps:
      - auto_shipit

workflows:
  build_and_test_pr:
    jobs:
      - setup:
          filters:
            branches:
              ignore:
                - main
                - /version-.*/
            tags:
              ignore: /.*/
      - bazelrc:
          filters:
            branches:
              ignore:
                - /pull\/.*/
          context:
            - Build
          requires:
            - setup

      - build:
          name: build-trunk
          filters:
            branches:
              ignore:
                - /pull\/.*/
          requires:
            - bazelrc

      - build:
          name: build-fork
          filters:
            branches:
              only:
                - /pull\/.*/
          requires:
            - setup

      - build_ios:
          name: build-ios-trunk
          filters:
            branches:
              ignore:
                - /pull\/.*/
          requires:
            - bazelrc

      - build_ios:
          name: build-ios-fork
          filters:
            branches:
              only:
                - /pull\/.*/
          requires:
            - setup

      - maybe_release:
          filters:
            branches:
              ignore:
                - /pull\/.*/
          context:
            - Publish
          requires:
            - build-trunk
            - build-ios-trunk

      - android_test:
          name: android-test-trunk
          filters:
            branches:
              ignore:
                - /pull\/.*/
          requires:
            - build-trunk

      - android_test:
          name: android-test-fork
          filters:
            branches:
              only:
                - /pull\/.*/
          requires:
            - build-fork

      - coverage:
          name: coverage-trunk
          filters:
            branches:
              ignore:
                - /pull\/.*/
          requires:
            - build-trunk
            - build-ios-trunk

      - coverage:
          name: coverage-fork
          filters:
            branches:
              only:
                - /pull\/.*/
          requires:
            - build-fork
            - build-ios-fork

  build_and_test_main:
    when:
      equal: [ "", << pipeline.parameters.GHA_Action >> ]
    jobs:
      - setup:
          filters:
            branches:
              only:
                - main
                - /version-.*/

      - build:
          requires:
            - setup

      - build_ios:
          requires:
            - setup

      - android_test:
          requires:
            - build

      - coverage:
          requires:
            - build
            - build_ios

      - release:
          context:
            - Publish
          requires:
            - android_test
            - coverage
            - build_ios

  release:
    when:
      equal: [ release, << pipeline.parameters.GHA_Action >> ]
    jobs:
      - setup

      - build:
          requires:
            - setup

      - build_ios:
          requires:
            - setup

      - android_test:
          requires:
            - build

      - coverage:
          requires:
            - build

      - release:
          context:
            - Publish
          requires:
            - android_test
            - coverage
            - build_ios
