---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import DSLContentPlayground from "../../components/tools/DSLContentPlayground";
---

<StarlightPage
  frontmatter={{ title: "DSL Content Playground", tableOfContents: false }}
>
  <p class="mb-4">
    Content can be authored using JSON, or (preferred) with a TypeScript/React
    API. Below is a sample editor where you can explore authoring content using
    the DSL and our reference assets.
  </p>
  <DSLContentPlayground client:only />
</StarlightPage>
