---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import ASTExplorer from "../../components/tools/ASTExplorer";
---

<StarlightPage
  frontmatter={{ title: "View AST Explorer", tableOfContents: false }}
>
  <p class="mb-4">
    The internal representation of the View parses into an AST structure. This
    is often used during the transform phase to edit the content prior to
    rendering. Below is an interactive way of previewing the internal AST
    representation for the given content.
  </p>
  <ASTExplorer client:only="react" />
</StarlightPage>
