---
const name = crypto.randomUUID();
---

<div role="tablist" class="tabs tabs-lifted">
  <input
    type="radio"
    name={name}
    role="tab"
    class="tab"
    aria-label="TSX"
    value="tsx"
    checked
  />
  <div
    role="tabpanel"
    class="tab-content content bg-base-100 border-base-300 rounded-box p-6"
  >
    <slot name="tsx" />
  </div>

  <input
    type="radio"
    name={name}
    role="tab"
    class="tab"
    aria-label="JSON"
    value="json"
  />
  <div
    role="tabpanel"
    class="tab-content content bg-base-100 border-base-300 rounded-box p-6"
  >
    <slot name="json" />
  </div>
</div>

<style>
  .content {
    max-width: var(--sl-content-width);
  }
</style>
