---
import { Tabs, TabItem } from "@astrojs/starlight/components";

const slotNames = ["core", "react", "android", "ios"];
const populatedSlots = Object.fromEntries(
  slotNames.map((slotName) => [slotName, Astro.slots.has(slotName)])
);
---

<style>
  .card {
    padding: 1rem;
    border: 1px solid var(--sl-color-gray-5);
  }
</style>

<Tabs syncKey="platform-type">
  {
    populatedSlots["core"] && (
      <TabItem label="Core">
        <div class="card">
          <slot name="core" />
        </div>
      </TabItem>
    )
  }
  {
    populatedSlots["react"] && (
      <TabItem label="React">
        <div class="card">
          <slot name="react" />
        </div>
      </TabItem>
    )
  }
  {
    populatedSlots["android"] && (
      <TabItem label="Android">
        <div class="card">
          <slot name="android" />
        </div>
      </TabItem>
    )
  }
  {
    populatedSlots["ios"] && (
      <TabItem label="iOS">
        <div class="card">
          <slot name="ios" />
        </div>
      </TabItem>
    )
  }
</Tabs>
