---
import { Tabs, TabItem } from "@astrojs/starlight/components";

const slotNames = ["core", "react", "android", "ios"];
const populatedSlots = Object.fromEntries(
  slotNames.map((slotName) => [slotName, Astro.slots.has(slotName)]),
);
---

<style>
  .card {
    padding: 1rem;
    border: 1px solid var(--sl-color-gray-5);
  }
</style>

<Tabs syncKey="lang-type">
  {
    populatedSlots["core"] && (
      <TabItem label="Core" icon="seti:javascript" data-lang="core">
        <div class="card">
          <slot name="core" />
        </div>
      </TabItem>
    )
  }
  {
    populatedSlots["react"] && (
      <TabItem label="React" icon="seti:react" data-lang="react">
        <div class="card">
          <slot name="react" />
        </div>
      </TabItem>
    )
  }
  {
    populatedSlots["android"] && (
      <TabItem label="Android" icon="linux" data-lang="android">
        <div class="card">
          <slot name="android" />
        </div>
      </TabItem>
    )
  }
  {
    populatedSlots["ios"] && (
      <TabItem label="iOS" icon="apple" data-lang="ios">
        <div class="card">
          <slot name="ios" />
        </div>
      </TabItem>
    )
  }
</Tabs>

<script>
  function updateURLParam(lang: string) {
    const url = new URL(window.location.href);
    url.searchParams.set("lang", lang);
    window.history.pushState({}, "", url);
  }

  function updateTabSelectionFromURL() {
    const url = new URL(window.location.href);
    const lang = url.searchParams.get("lang")?.toLowerCase();
    if (lang) {
      const tabs = document.querySelectorAll('a[role="tab"]');
      tabs.forEach((tab) => {
        if (tab.textContent?.trim().toLowerCase() === lang) {
          (tab as HTMLButtonElement).click();
        }
      });
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    updateTabSelectionFromURL();

    // Listen for URL changes and update which tab is selected
    window.addEventListener("popstate", updateTabSelectionFromURL);

    // Attach event listeners to all tab containers
    const tabsContainers = document.querySelectorAll('[role="tablist"]');
    tabsContainers.forEach((tabsContainer) => {
      tabsContainer.addEventListener("click", (event) => {
        const target = (event.target as HTMLElement)?.closest('a[role="tab"]');
        if (target) {
          const lang = target.textContent?.trim().toLowerCase();
          if (lang) {
            updateURLParam(lang);
          }
        }
      });
    });
  });
</script>
