---
// https://github.com/lorenzolewis/starlight-utils/blob/main/packages/starlight-utils/components/Sidebar.astro
import Default from "@astrojs/starlight/components/SocialIcons.astro";
import type { Props } from "@astrojs/starlight/props";

type SidebarEntry = typeof Astro.props.sidebar[number]

function getFirstEntry(entry: SidebarEntry) {
  if (entry.type === 'group') {
    if (entry.entries.length === 0) {
      return;
    }

    return getFirstEntry(entry.entries[0])
  }

  return entry;
}

const topEntries = Astro.props.sidebar.map(s => ({
  label: s.label,
  href: getFirstEntry(s)?.href
}))

---

{topEntries.map(entry => {
  return <a href={entry.href}>{entry.label}</a>
})}

<Default {...Astro.props} />